- const dateObj = new Date(birthdate)
- const formattedDate = dateObj.toLocaleDateString('fr-FR')
div.user-card
  h4 #{name.first}<small>#{age}</small>
  p Né le #{formattedDate}
  p Vit à <strong>#{location.city}, #{location.zipcode}</strong>
  - const spanAdmin = isAdmin ? "Est administrateur" : "N'est pas administrateur"
  span.badge-admin= spanAdmin





    